<!DOCTYPE html>
<html>
<head>
  <title>DataImporter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to('logout', session_path, :method => :delete) if signed_in? %>
<br/>
<%= yield %>

</body>
</html>
